
<%- include('partials/header') %>


<main data-barba="container" data-barba-namespace="home">

  <section class="grid">
    <% data.forEach((cat, i) => { %>
      <div class="img-wrapper">
        <img src="<%- cat.fields.file.url %>?fit=fill&w=900&fm=webp" alt="<%- cat.fields.title %>" />
      </div>
    <% }); %>
  </section>
</main>


<%- include('partials/footer') %>