* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  width:100%;
}

body {
  font-size: 1vw;
  width:100%;
  background-color: #dadada ;
  color: #444;
  opacity: 1;
  overflow-x: hidden;
  transition: all 0.5s ease-out;
}

h1 {
  text-align: center;
  padding-top: 2em;
}

img {
  max-width: 100%;
  min-height: 100px;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  height: 600px;
  transform: scale(1);
  transition: all .5s ease;
}

.fade-in img:hover {
  transform: scale(1.25);
}

.grid {
  padding: 2em 0;
  display: grid;
  gap: 2em;
  grid-auto-flow: dense;
  grid-template-columns: repeat(2, 1fr);
  width: 80vw;
  margin: 0 auto;
}

.img-wrapper.wide {
  grid-column: span 2 ;
}
.img-wrapper.tall {
  grid-row: span 2 ;
}

.img-wrapper {
  overflow: hidden;
}

.lazy-load img {
  filter: blur(50px);
}

.fade-in img {
  filter: blur(0);
}