* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  width:100%;
}

body {
  font-size: 1vw;
  width:100%;
  background-color: #dadada ;
  color: #444;
  opacity: 1;
  overflow-x: hidden;
  transition: all 0.5s ease-out;
}

img {
  max-width: 100%;
  min-height: 100px;
  width: 100%;
  height: auto;
  display: block;
  transform: scale(1);
  transition: all 1.5s ease;
}

.fade-in img:hover {
  transform: scale(1.25);
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img-wrapper {
  overflow: hidden;
}

.lazy-load img {
  filter: blur(100px);
}

.fade-in img {
  filter: blur(0);
}